<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('.static', filename='bookstyle.css')}}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title> {{ book.title }} </title>
    </head>
    <body>
        <div class="container">
            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">
                        <a class="blog-header-logo text-dark" href="{{ url_for('index') }}"><h1>Book Reviews</h1></a>
                    </div>

                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('logout') }}">Logout</a>
                    </div>

                </div>
            </header>
        </br>
        </div>
        <div class="container border-bottom">
            <div class="card bg-light">
                <h5 class="card-header text-center">{{ book.title }}</h5>
                <div class="card-body text-center">
                    <div class="row">             
                        <div class="col-6"> 
                            <h5 class="card-title">{{ book.author }}</h5>
                            <p class="card-text">{{ book.year }}</p>
                        </div>
                        <div class="col-6">
                            <h5 class="card-text">Good Reads data</h5>
                            <p class="card-text"> Average rating: </p>
                            <p class="card-text"> Review count: </p>
                        </div>
                    </div>
                </div>
            </div>
        </br>
        </div>
        </br>
        
        <div class="container">
            {% if review_tracker == False %}
            <div class="row">
                <div class="col-12">
                    <form method="POST" action="{{ url_for('book', book_id = book_id) }}">
                        {{ form.hidden_tag() }}
                        <p>Rating</p>
                        {{ form.rating }}
                        <p>Write your review</p>
                        {{ form.review }}
                        <button class="btn btn-sm btn-primary btn-block w-25 mx-auto" type="submit">Submit review</button>
                    </form>
                </div>
            </div>
            {% else %}
            <h5>You already made a review about this</h5>
            {% endif %}
        </br>
        </br>
            <h3>Reviews:</h3>
            <div class="row">
                <div class="col-12">
                    {% for item in reviewsList %}
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">User: {{ item[4] }}</h5>
                                <h5 class="card-subtitle">Rating: {{ item[2] }}</h5>
                                <p class="card-text"> {{ item[1] }} </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>        
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>