{% extends "layout.html" %}

{% block title %}
    Book reviews
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('.static', filename='home.css')}}">
{% endblock %}

{% block body %}
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Book Reviews</h3>
        <nav class="nav nav-masthead justify-content-center">
        {% if session.user_id %}  
          <a class="nav-link active" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
          <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
          <a class="nav-link" href="{{ url_for('signup') }}">Sign up</a>
        {% endif %}
        </nav>
      </div>
    </header>
  
    {% if session.user_id %}
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Hello, {{ session.username }}.</h1>
      <p class="lead">Feel free to search for books.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Go to search page</a>
      </p>
    </main>

    {% else %}
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome to Book Reviews!</h1>
        <p class="lead">You must login or sign up to start searching for books.</p>
      </main>
    
    {% endif %}  

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
  </div>
  
  
  
{% endblock %}