{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Search{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='formstyle.css')}}">
{% endblock %}

{% block body %}
    <div class="container">
    <main role="main" class="inner cover">
        <form class="form-signin" method="POST" action="/search">
            <h2 class="form-signin-heading">Search</h2>
            <h5>You can search by ISBN, Title or Author</h5>
            <p>Choose the parameter:</p>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.parameter) }}
            {{ wtf.form_field(form.searchinput) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
          </form>
      </main>
    </div>

{% endblock %}